<!doctype html>
<html ng-app="myApp" ng-controller="confirmController">
<head>
    <title>Booking at {{serviceproviderN}} Confirmed</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">

    <script>

      var myApp = angular.module("myApp", []);

      myApp.controller("confirmController", function($scope, $http) {
          $scope.uuid = <%- JSON.stringify(uuid) %>;
          $scope.serviceproviderN = <%- JSON.stringify(serviceproviderN) %>;
          $scope.serviceproviderA = <%- JSON.stringify(serviceproviderA) %>;
          $scope.serviceproviderT = <%- JSON.stringify(serviceproviderT) %>;
          $scope.serviceproviderP = <%- JSON.stringify(serviceproviderP) %>;
          $scope.timepicker = <%- JSON.stringify(timepicker) %>;
          $scope.datepicker = <%- JSON.stringify(datepicker) %>;
          $scope.price = <%- JSON.stringify(price) %>;
          $scope.comments = <%- JSON.stringify(comments) %>;

          // Google Maps
          $(document).ready(function() {
            var ratingconfig = {
          		animate:		true,
          		duration:		175,
          		ease:			"easeOutBounce",
          		maxRating: 		10,
          		wrapperWidth:	175,
          		showText: 		false,
          		wrapperClass:	"wrapper_books",
          		innerClass:		"inner_books",
          		textClass: 		"rating_books"
          	}
          });

          function initMap() {
            // Create an array of styles.
            var styles = [
              {
                stylers: [
                  { hue: "#ccbd9d" },
                  { saturation: -20 }
                ]
              },{
                featureType: "road",
                elementType: "geometry",
                stylers: [
                  { lightness: 100 },
                  { visibility: "simplified" }
                ]
              },{
                featureType: "road",
                elementType: "labels",
                stylers: [
                  { visibility: "off" }
                ]
              }
            ];

            var styledMap = new google.maps.StyledMapType(styles,
              {name: "Styled Map"});

            var mapOptions = {
              zoom: 15,
              center: new google.maps.LatLng(55.6468, 37.581),
              disableDefaultUI: true,
              zoomControl: true,
              mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
              }
            };

            var map = new google.maps.Map(document.getElementById('map'),
              mapOptions);

            var geocoder = new google.maps.Geocoder();

            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

            geocodeAddress(geocoder, map);
          }

          function geocodeAddress(geocoder, resultsMap) {
            var address = $scope.serviceproviderA;
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }

          google.maps.event.addDomListener(window, 'load', initMap);
      });
    </script>
</head>

<body>
  <div class="bodyWrapper">
    <div class="container">

        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-left">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>

            <% if (!user) { %>
            <div class="header-right">
                <p><a id="loginLink" href="/login" class="dropdown-link">Login</a><a id="registerLink" href="/signup" class="dropdown-link">Register</a></p>
            </div>
            <% } else { %>
            <div class="header-right">
              <div class="button-dropdown">Hi, <%= user.local.profile.firstname %> &#x25BC;
                  <ul class="dropdown">
                    <li><a href="/profile" class="dropdown-link">My Profile</a></li>
                    <li><a href="/bookings" class="dropdown-link">My Bookings</a></li>
                    <li><a href="/reviews" class="dropdown-link">My Reviews</a></li>
                    <li><a href="/logout" class="dropdown-link">Logout</a></li>
                  </ul>
              </div>
            </div>
            <% } %>
        </div>
    </div>
    </header>

    <section class="clearfix">
    </section>

    <div class="row" style="width: 80%;">
        <div class="columnLeft" style="width: 30%; background-color: #fff; padding: 10px;">
            <p class="contentTitleCheckout">ENJOY YOUR EXPERIENCE</p><br>
            <div class="checkoutLeft">
                <img ng-src="{{serviceproviderT}}" />
                <div class="checkoutLeftContent">
                    <p class="name" style="font-size: 18px; font-family:'BRBold';">{{serviceproviderN}}</p>
                    <p class="address">{{serviceproviderA}}</p><br>
                    <p><span class="timeSpan">Day: </span><span class="infoSpan">{{datepicker}}</span></p>
                    <p><span class="timeSpan">From: </span><span class="infoSpan">{{timepicker}}</span></p>
                    <p><span class="timeSpan">Total Paid: </span><span class="infoSpan">DKK {{price}}</span></p>
                    <p>Comments: {{comments}}</p>
                </div>
            </div>
            <p>{{result[0].name}}</p>
        </div>

        <div class="columnCenter" style="width: 29%; background-color: #fff; padding: 10px;">
            <p class="contentTitleCheckout">PAYMENT CONFIRMED</p><br>
            <p class="contentTitleCheckout">BOOKING NUMBER: {{uuid}}</p><br>
            <div id="map"></div>
            <p style="text-align: justify;">Need assistance? Contact {{serviceproviderN}} by calling them at (+45) {{serviceproviderP}}.</p>
        </div>

        <div class="columnRight" style="width: 29%;">
        </div>
    </div>

  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>
</body>
</html>
